<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Detalhes</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Nome</td>
        <td>CPF</td>
        <td>Email</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${ninja.id}"></td>
        <td th:text="${ninja.nome}"></td>
        <td th:text="${ninja.cpf}"></td>
        <td th:text="${ninja.email}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>